config TUXERA_USERDEBUG
	bool "Tuxera userdebug module for ASUS"
	depends on NLS_UTF8
	default n
	help
	  Say Y here if you want support Tuxera userdebug module
	  Say N here if you want support Tuxera user module
